/* https://www.behance.net/gallery/194618119/Web3-Creative-Agency-Landing-Page-Website-Design */
/* 
<i class="fa-solid fa-arrow-right"></i>
<i class="fa-solid fa-arrow-left"></i> */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background-color: #0b0b0b;
    position: sticky;
    top: 0;
    padding:10px 0px;
    z-index: 2;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > .logo p{
    color: #dddddd;
    font-size: 25px;
    font-weight: bold;
}
nav > .logo p span{
    color:#37ff8e;
    font-size:xx-large;
}
.nav-link{
    width: 30%;
}
.nav-link ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-link ul li a{
    text-decoration: none;
    color: #dddddd;
    
}
.nav-btn{
    background-color: #37ff8e;
    padding: 10px;
}
.nav-btn a{
    color: #0b0b0b;
    text-decoration: none;
}
main{
    width: 100%;
    background-color: #1a1919;
    overflow: hidden;
}
.section-1{
    width: 100%;
    margin: auto;
    background-color: #0b0b0b;
    display: grid;
    justify-content: center;
    place-items:center;
}
.section-1-text{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
.section-1 h1{
    font-size: 90px;
    color: #dddddd;
}
.section-1 h1 span{
    background-color: blue;
    padding: 0px 5px;
}
.section-2{
    width: 100%;
    background-image: linear-gradient(40deg,#0b0b0b, #37ff8e1e,#0b0b0b);
    padding: 5% 0px;

}
.section-2-top{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 5% 0px;
}
.section-2-top .left{
    width: 50%;
}
.section-2-top .left h1{
      font-size: 75px;
      color: #dddddd;
}
.section-2-top .left span{
    color:#37ff8e;
}


.section-2-top .right{
    width: 40%;
    
}
.section-2-top .right p{
    font-size:xx-large;
    color: #a9a4a4;
    text-align: right;
}
.section-2-buttons  {
    float: right;
    margin-top: 40px;
}
.section-2-buttons i{
    background-color: #dddddd;
    color: #0b0b0b;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.section-2-buttons i:hover{
    background-color: #0b0b0b;
    color: #dddddd;

}
.section-2-bottom{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.section-2-body{
    width: 200%;
    display:flex;
    justify-content: space-around;
    margin: auto;
    gap:1%;
    transition: 2s;
}
.section-2-body > .box{
    background-color: #0b0b0b;;
    padding: 50px 30px;
    border: 2px #0b0b0b solid;

}
.section-2-body .box:hover{
    border: 2px #37ff8e solid;
}
.section-2-body .box img{
    width:30%;
    height: 45%;
}
.section-2-body .box h2{
    color: #dddddd;
    font-size: 40px;
    line-height:70px;
}
.section-2-body .box p{
    color: #a9a4a4;
    font-size: 23px;
}
.section-3{
    width: 100%;
    background-color: #0b0b0b;
}
.section-3 h1{
    width: 70%;
    font-size: 85px;
    color: #dddddd;
    margin: auto;
    text-align: center;
    padding: 3% 0px;
    line-height: 90px;
}
.section-3 span{
    color: #37ff8e;
}
.section-3 p{
    width: 55%;
    color: #a9a4a4;
    margin: auto;
    text-align: center;
    font-size: 25px;
}
.section-3-footer{
    width: 80%;
    margin: auto;
    padding: 7% 0%;
    position:relative; 
}
.section-3-footer ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.section-3-footer ul li{
    width: 90px;
    background-color: #dddddd;
    border: 3px solid orange;
    padding:1.5% 3%;
    border-radius: 30px;
    font-size: 20px;
    text-align: center;
    margin: 0% 10.5%;
}
 .section-3-footer ul li:nth-child(6)
{
    transform: rotate(30deg);
    position: absolute;
    right:3%;
    bottom: 50%;
}
.section-3-footer ul li:nth-child(4)
{
    transform: rotate(-50deg);
    position: absolute;
    background-color: orange;
    border: 3px solid #dddddd ;
    right:21%;
    bottom: 52%;
}
.section-3-footer ul li:nth-child(2)
{
    position: absolute;
    right: 40%;
    bottom: 66%;
}
.section-3-footer ul li:nth-child(1)
{
    position: absolute;
}  
.section-3-footer ul li:hover{
    background-color: orange;
    border: 3px solid #dddddd ;
}
.section-3-footer h4{
    color: #37ff8e;
    text-align: center;
    margin-top: 20px;
}
.section-4{
    width:100%;
    margin: auto;
    overflow: hidden;
}
.section-4-body{
    background-color: #1a1919;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5% 3% 5% 0% ;
    width: 200%;
    overflow: hidden;
}
.section-4-text{
    width: 27%;
    padding: 2% 3.5% 2% 2.5%;
    z-index: 1;
    background-color: #1a1919;
}

.section-4-text h1{
    color: #dddddd;
    font-size: 70px;
}
.section-4-text span{
    color: #37ff8e;
}
.section-4-text p{
    font-size:25px;
    color: #a9a4a4;
}
.section-4-buttons  {
    float: left;
    margin-top: 40px;
}
.section-4-buttons i{
    background-color: #dddddd;
    color: #0b0b0b;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 5px;
}
.section-4-buttons i:hover{
    background-color: #0b0b0b;
    color: #dddddd;

}
.section-4-project{
    display: flex;
    width:180%;
    column-gap: 2.5%;
    margin-left:1%;
    overflow: hidden;
    transition: 2s;
}

.section-4 .projects{
    width:17%;
    height: 80vh;
    background-color: red;
    position: relative;
    
}
.project-details{
    width: 96%;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 4% 2%;
    position:absolute;
    bottom: 0;
    transition: 1s;
}
.project-details h1{
    color: #dddddd;
    font-size: 30px;
}
.project-details h4{
    color: #a9a4a4;
    font-size: 20px;
}
.project-details p{
    padding: 20px 0px;
}
.project-details p a{
    color: #37ff8e;
    text-decoration: none;
}

.section-5 p{
    color: #dddddd;
    font-size: 40px;
    padding: 10px 0px;
    text-align: center;
    background-color: #ff8800;
}
.section-5 p:nth-child(2)
{
    background-color: blue;  
    word-spacing: 40px; 
}
.section-6{
    width: 95%;
    padding: 3% 0%;
    margin: auto;
}
.section-6 h1{
    font-size: 70px;
    color: #dddddd;
    text-align: right; 
    margin-top: 30px;
}
.section-6 span{
    color: #37ff8e;
}
.section-6-body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}
.section-6 .box{
     width: 43%;
     color: #dddddd;
     background-color: #0b0b0b;
     padding: 2%;
     border: 3px solid #0b0b0b ;
}
.section-6 .box:hover{
    border: 3px solid #37ff8e ;

}
.section-6 .box .top {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}
.section-6 .box h2{
    font-size: 30px;
}
.section-6 .box p{
    font-size: 20px;
    color: #a9a4a4;
}
.section-7{
    width: 100%;
    padding:5% 0px 5% 0px;
    position: relative;
    margin-bottom: 50px;
}
.section-7 h1{
    font-size: 70px;
    color: #dddddd;
    padding:0px 0px 50px 50px ;
}
.section-7 span{
    color: #37ff8e;
}
.section-7 img{
    width:85%;
    max-height:90vh;
}
.section-7-footer{
    background-color: #37ff8e;
    font-size: 17px;
    width: 25%;
    padding: 2%;
    text-align: right;
    position: absolute;
    right: 5%;
    bottom: -0%;
} 
footer{
    width: 100%;
    background-color: #0b0b0b;
}
.footer-body{
    width: 90%;
    margin: auto;
    padding: 10% 0% 0.1% 0%;
}
.footer-body .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-body .left {
    width: 35%;
}
.footer-body .left h1{
         font-size: 90px;
         color: #dddddd;
}
.footer-body .left span{
    color: #37ff8e;
}
.footer-body .left p{
    font-size: 22px;
    color: #a9a4a4;
}
.footer-body form{
    border-bottom: 1px grey solid;
    padding:5px 0px;
   
}
.footer-body form:hover{
    border-bottom: 1px #37ff8e solid;
}
.footer-body input {
    background-color: #0b0b0b;
    color: #dddddd;
    border: none;
    width: 90%;
    font-size: 30px;
}
.footer-body input:focus{
    outline-style: none;
}
.footer-body .right{
    width: 40%;
}
.footer-body .right i{
    color: #37ff8e;
    margin-left: 20px;
    font-size: 30px;
}
.footer-body .bottom{
    width: 100%;
       margin-top: 60px;
}
.footer-body .bottom ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 2% 0%;
    border-bottom: 1px gray solid;

}
.footer-body .bottom li{
    font-size: 20px;
    color: #dddddd;
    margin: 0px 2%;
}
.footer-body .termcondition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}
.footer-body .termcondition h1{
    color: #dddddd;
    font-size: 25px;
}
.footer-body .termcondition span{
    color: #37ff8e;
    font-size: xx-large;
}
.footer-body .termcondition p{
    font-size: 18px;
    color: #a9a4a4;
}